@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Agenda";
}
<h1>gggg</h1>
<div class="lijst">
    <ul>
        @if (Model != null)
        {
            foreach (Festival p in Model)
            {
                <li>@p.Naam @p.Beschrijving @p.Datum  </li>
            }
        }
    </ul>
</div>
<p>sike</p>
