@using SchoolTemplate.Database;
@model List<Festival>
@{
  ViewData["Title"] = "Home Page";
}

    <div class="wrapper">
        <h1 class="display-4"></h1>
        <div class="logofoto">
            <img src=/img/logo.jpg />
        </div>
        
        <div class="hoofdafbeelding">
            <div class="topnavbox">
                <div class="topnav">
                    <a class="active" href="/">Home</a>
                    <a href="/contact">Contact</a>
                    <a href="/show-all">News</a>
                    <a href="/festival/{id}">Festival</a>
                </div>
            </div>  
        </div>
        <div class="lijst">
            <ul>
                @if (Model != null)
                {
                    @foreach (Festival p in Model)
                    {
                        <li><a href="/festival/@p.Id">@p.Naam @p.Beschrijving euro @p.Datum gram </a></li>
                    }
                }
            </ul>
        </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
